@font-face {
    font-family: "jost";
    src: url("../PlugIn/font/jost/Jost-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "jost";
    src: url("../PlugIn/font/jost/Jost-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "jost";
    src: url("../PlugIn/font/jost/Jost-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "jost";
    src: url("../PlugIn/font/jost/Jost-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "inter";
    src: url("../PlugIn/font/inter/Inter-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    font-family: "jost";
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}
.container-fluid {
    width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}
.w-100 {
    width: 100%;
}
.col-3{
    width: 32%;
}
.col-4 {
    width: 33%;
}
.col-5 {
    width: 41%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58%;
}
.col-8 {
    width: 66%;
}
.col-2{
    width: 16%;
}
.col-10 {
    width: 83%;
}

.col-12 {
    width: 100%;
}

.py-3 {
    padding: 30px 0;
}

.py-2 {
    padding: 20px 0;
}
.py-1 {
    padding: 10px 0;
}

.px-1 {
    padding: 0 15px;
}

.pe-1 {
    padding-right: 15px;
}

.pt-2 {
    padding-top: 10px;
}

.pt-4 {
    padding-top: 40px;
}
.me-2{
    margin-right: 20px;
}
.pb-2 {
    padding-bottom: 10px;
}
.text-center {
    text-align: center;
}
.text-end{
    text-align: right;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-end{
    justify-content: end;
}
.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.d-flex {
    display: flex;
}
.bg-light {
    background-color: #f3f3f3;
}
.bg-cart-btn{
    background-color: #e4573d;
    color: #ffffff;
    border: 1px solid #e4573d;
    border-radius: 25px;
    padding: 6px 26px;
    text-transform: capitalize;
    font-size: 14px;
}
.bg-cart-btn:hover{
    background-color: #fff;
    color: #e4573d;
}
svg,
.logo img,
.cursor-pointer {
    cursor: pointer;
}
.position-relative {
    position: relative;
}

.slider-next-btn,
.slider-prev-btn {
    background-color: #E9E9E9;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
}

.slider-next-btn img,
.slider-prev-btn img {
    width: 10px;
}

.announcebar_remove-btn,
svg {
    cursor: pointer;
}

.announcement_bar {
    background-color: #396393;
    color: #ffffff;
    padding: 12px 0;
    text-align: center;
    position: relative;
}

input:focus {
    outline: none;
}
nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 12px 0;
    justify-content: space-between;
}

.logo {
    width: 130px;
    padding: 10px;
}

.nav_bars {
    display: none;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nav_bars,
.product-tabcontent,
.hidden {
    display: none;
}

.navbar {
    width: 65%;
    display: flex;
    align-items: center;
}

.navbar ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    display: flex;
    align-items: center;
}

.serach_input_block {
    width: 55%;
    border: 1px solid #8f8f8f;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.serach_input_block svg {
    padding-top: 6px;
}

.serach_input {
    width: 100%;
    padding: 10px;
    border: none;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 28px;
}

.switch input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #396393;
    border: 1px solid #396393;
    transition: .2s;
    border-radius: 30px;
    color: #ffffff;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: 50%;
    right: 2px;
    transform: translate(0, -50%);
    background-color: #ffffff;
    transition: .4s;
}

.slider::after {
    content: 'Inc.GST';
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

input:checked+.slider:before {
    transform: translate(-54px, -50%);
}

input:checked+.slider::after {
    opacity: 0;
}

input:checked+.slider {
    background-color: #595959;
}

.cart_count {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #f69708;
    color: #ffffff;
    font-size: 12px;
    border-radius: 50%;
}

.btn-reg-sign {
    padding: 4px 12px;
    
    border-radius: 5px;
    font-family: 'jost';
    font-weight: 500;
    text-transform: capitalize;
}

.btn-reg {
    margin-right: 10px;
    background-color: #cfcfcf;
    color: #000000;
}

.btn-sign {
    background-color: #000000;
    color: #ffffff;
}

.header-fixed {
    display: flex;
    justify-content: center;
    padding: 10px 0 20px;
    width: 70%;
    margin: auto;
}

.header-fixed ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    border: 1px solid #d1d1d1;
}

.navlinks {
    text-transform: capitalize;
    color: #000000;
}

.navlinks:hover {
    color: #396393;
    text-decoration: underline;
}

.mobile_menu_wrapper {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: #00000071;
    overflow: hidden;
    display: none;
    transition: 0.4s ease-in-out;
}

.mobile_menu {
    width: 40%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}

.mobilemenu_navlinks {
    padding-top: 20px;
}

.mobilemenu_navlinks li {
    padding: 8px 10px;
    border-bottom: 1px solid #dddbdb;
}

.mobilemenu_navlinks li:nth-last-child(1) {
    padding: 20px 10px 0;
    border-bottom: 0;
}

.mobile_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    overflow-x: hidden;
    z-index: 2;
}

.cart_wrapper {
    position: absolute;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    background-color: #00000071;
    z-index: 5;
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

.cart_block {
    overflow-x: hidden;
    width: 30%;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.product_cart_section {
    height: 74% !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.product_cart_section::-webkit-scrollbar {
    width: 4px;
    border-radius: 10px;
}

.product_cart_section::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.prodCart_block {
    padding: 20px 0;
    border: 1px solid #edecec;
    border-radius: 10px;
    margin-top: 15px;
}

.prodCart_inner {
    padding-left: 30px;
}

.cart_prd-name {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 4px;
    text-transform: capitalize;
}

.cart_sub_price {
    color: #000;
    opacity: 0.8;
    padding: 10px 0;
    font-weight: 500;
}

.cart_btn_group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.cart_inner_btn {
    width: 49%;
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
    color: #ffffff;
    
    font-weight: 800;
}

.opacity8 {
    opacity: 0.8;
}

.view-cart-btn {
    background-color: #fca239;
}

.checkout-cart-btn {
    background-color: #335985;
}

.banner-inner {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.banner-block {
    position: relative;
}

.banner-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: auto;
    padding: 8px 16px;
    background-color: rgb(255 255 255 / 60%);
    font-size: 26px;
    font-weight: 500;
    color: rgb(17 17 17 / 80%);
    line-height: 43px;
    transform: translateX(-50%);
    width: max-content;
}

.banner-img {
    width: 100%;
    height: 100%;
}

.banner-heading {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
}

.announcebar_remove-btn {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
}

.category-section {
    padding: 40px 0 60px 0;
    background-color: #F3F3F3;
}

.section-small-head {
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    color: rgb(0 0 0 / 50%);
    margin-bottom: 6px;
}

.section-heading {
    font-size: 32px;
    line-height: 46px;
    font-weight: 500;
    color: #000;
}

.category-head {
    margin-bottom: 44px;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.category-slider-btn {
    display: flex;
    align-items: center;
    gap: 28px;
}

.category-slider .swiper-slide {
    height: initial;

}
.slider-button{
    background-color: #E9E9E9;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
}

.category-slide {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 26px 12px 12px 12px;
    border-radius: 15px;
    border: 1px solid #cfcfcf;
}
.category_img-block {
    width: 50%;
    height: 100px;
    margin-bottom: 10px;
}
.cateogry-img {
    width: 100%;
}

.category-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
    text-align: center;
}

.product-section {
    padding: 70px 0;
}

.section-head {
    padding-bottom: 22px;
    border-bottom: 2px solid #396393;
    margin-bottom: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
}

/* Product Section */
.product-tablinks {
    border: 0;
    background-color: #0000;
    padding: 0 14px;
    font-family: "jost";
    font-size: 18px;
    font-weight: 400;
    line-height: 31px;
    color: rgb(0 0 0 / 50%);
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

.product-tablinks.active {
    background-color: #396393 !important;
    color: #fff;
}

.product-tablinks:hover {
    background-color: #396393 !important;
    color: #fff;
}


.saller-banner {
    width: 100%;
}

.product-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.product-block {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
    
}

.product-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.product-price {
    color: #FF344C;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.product-img {
    width: 100%;
}

.product-description {
    width: 100%;
}

.product-img-block {
    margin: auto 0;
}

.banner-section {
    padding-bottom: 70px;
}

.pr-category-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px
}

.pr-inner-block {
    width: 100%;
    height: 100%;

}

.pr-banner {
    padding: 30px 30px 30px 35px;
    background: #DAF4FF;
    border-radius: 12px;
    display: flex;
    align-items: center;
    
    gap: 24px;
    height: 100%;
    justify-content: space-between;
}

.pr-banner-img {
    width: 100%;
    position: absolute;
    right: -14px;
    bottom: -18px;
}

.pr-img-block {
    min-width: 138px;
    min-height: 138px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

.bg-pink {
    background-color: #FFEBEB;
}

.bg-navy-blue {
    background-color: #E3EFFF;
}

.fw-500 {
    font-weight: 500;
}

.mb-1 {
    margin-bottom: 8px;
}

.pr-category-name {
    color: #000;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 12px;
}

.hero_section {
    position: relative;
    height: 450px;
}

.hero_section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_section-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000071;
}

.hero_section-wrapper-block {
    width: 100%;
    height: 100%;
    position: relative;
}

.hero_content_slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_banner_heading {
    padding: 8px;
    width: fit-content;
    text-align: center;
    margin: auto;
    text-transform: capitalize;
    background-color: #eacd76;
}

.hero_sub_heading {
    padding-top: 15px;
    font-size: 20px;
    color: #ffffff;
    width: 55%;
    text-align: center;
    margin: auto;
}


.hero_slider_btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: 'next';
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}


/* blog post css by shreyu */
.page_main-banner {
    width: 100%;
    height: 300px;
    position: relative;
}

.page_main-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub-banner_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000071;
    display: flex;
    align-items: center;
}

.sub-banner_block p {
    color: #ffffff;
    text-transform: uppercase;
}

.section-space {
    padding: 80px 0 40px;
}

.section-space1 {
    padding: 70px 0;
}

.other_main_block {
    padding: 20px;
    border-radius: 25px;
    margin-top: 25px;
}

.border1 {
    border: 1px solid #8f8f8f;
}

.other_main_block:nth-child(even) .row {
    flex-direction: row-reverse;
}

.border1 {
    border: 1px solid #8f8f8f;
}

.image_block img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.blog_share_link {
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.blog_share_link li {
    display: flex;
    align-items: center;
}

.blog_share_link li:nth-child(1),
.blog_share_link li:nth-child(2) {
    border-right: 1px solid #858585;
}

.blog_share_link li svg {
    padding: 0 5px;
}

.other_content_block {
    display: flex;
    align-items: center;
}

.other_content_block ul {
    padding: 0 20px;
    margin: auto;
}

.blog_content {
    padding: 0 25px;
}

.content_para {
    padding: 10px 0;
    line-height: 30px;
}

.read_more_btn {
    background-color: #335985;
    color: #ffffff;
    border: 1px solid #335985;
    border-radius: 25px;
    padding: 6px 26px;
    
    text-transform: capitalize;
    font-size: 14px;
}

.read_more_btn:hover {
    background-color: #ffffff;
    color: #335985;
}

.elips_img_block {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 12px 8px 0 0 #dddbdb;
}

.elips_img_block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our_mission_content {
    width: 75%;
    margin: auto;
}

.subtitle {
    padding: 10px 0 30px;
    font-size: 18px;
}

.signin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}
.btn-group-checkout{
    padding-top: 20px;
}
.checkout-head {
    padding-bottom: 30px;
}

.form_main_block {
    border: 2px solid #D9D9D9;
    padding: 50px;
    width: 49%;
}

label {
    text-align: left;
}

.forgot-password {
    padding: 20px 0;
    margin-top: 10px;
}

.forgot-password a {
    
    color: #0000ff;
}

.checkout-btn {
    background-color: #C6C6C6;
    border: 1px solid #C6C6C6;
    border-radius: 25px;
    padding: 6px 40px;
    text-transform: capitalize;
    font-size: 14px;
    color: #000;
    margin-right: 10px;
}
.whishlist-btn{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d1cdcd;
    border-radius: 50%;
    margin-left: 15px;
}
.pb-3{
    padding-bottom: 30px;
}
.checkout-btn:hover {
    background-color: #a0a0a0;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    padding: 20px 0 10px;
}

.input-field {
    padding: 10px;
    background-color: #F4F4F4;
    border: 2px solid #D9D9D9;
    border-radius: 3px;
}

::placeholder {
    text-transform: capitalize;
    color: #969696;
}


.input-field::-webkit-outer-spin-button,
.input-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.signin-input {
    padding: 40px;
}
.signin-input .form-group{
    width: 100%;
}
.signin-group {
    padding: 20px;
}
.register-content {
    width: 60%;
    margin: auto;
}
.form-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-group{
    width: 49%;
}
.optionbox{
    padding: 50px 0;
}
.register-btn-block{
    padding: 50px 0 20px;
}

.product-tabcontent.active {
    display: block;
}



.about-section {
    padding: 70px 0;
    background-image: url("../images/homepage/about-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    background-attachment: fixed;
}

.about-head {
    background-color: #EACD76;
    padding: 6px 13px;
    display: block;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 20px;
}

.about-btn-block {
    text-align: center;
    margin-top: 32px;
}

.sale-section {
    padding: 70px 0;
}

.sale-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding-bottom: 18px;
    border-bottom: 2px solid rgb(57 99 147 / 20%);
    margin-bottom: 35px;
}

.sale-slide-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14px;
}

.sale-slider .swiper-wrapper {
    flex-direction: row !important;
    /* row-gap: 15px; */
}

.sale-head {
    margin-bottom: 34px;
}

.sale-product {
    border: 2px solid #c5c5c5;
    position: relative;
    min-height: 235px;
    height: 100%;
}

.product-sale-tag {
    background-color: #FF5858;
    padding: 5px 12px;
    font-family: "inter";
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.sale-slider .swiper-wrapper .swiper-slide:nth-child(even) {
    margin-top: 0 !important;
    margin-bottom: 10px !important;

}

.sale-banner-block {
    position: relative;
}

.sale-banner {
    width: 100%;
    object-fit: contain;
}

.sale-text-block {
    position: absolute;
    bottom: 47px;
    left: 0;
    right: 0;
    max-width: 388px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.collection-section {
    background-color: #CFE3FA;
}

.collection-inner {
    padding: 20px 0 0 0;
    position: relative;
    display: grid;
    grid-template-columns: 1.7fr 0.7fr 0.7fr;
    grid-gap: 16px;
    background-image: url("../images/homepage/cln-bg-object.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto;

}

.btn-secondary {
    background-color: #fff;
    border-radius: 22px;
    padding: 7px 20px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    display: inline-block;
}

.cln-content-block {
    align-content: center;
}

.cln-btn-block {
    justify-self: flex-end;
    align-content: center;
}

.cln-heading {
    font-size: 25px;
    line-height: 36px;
    font-weight: 500;
}

.brand-head {
    margin-bottom: 38px;
}

.logo-slide-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.logo-block {
    border: 1px solid #D9D9D9;
}

.logo-img {
    width: 100%;
    object-fit: none;
}

.brand-swiper .swiper-wrapper, .prd-page-brand-swiper .swiper-wrapper {
    flex-direction: row !important;
    row-gap: 15px;
}

.brand-swiper .swiper-wrapper .swiper-slide, .prd-page-brand-swiper .swiper-wrapper .swiper-slide {
    height: 100%;
    margin-top: 0 !important;
}

.brand-inner {
    display: flex;
    align-items: center;
    gap: 28px;
}

.signin-input {
    padding: 20px 40px;
}
.logo-button-prev img,
.logo-button-next img,
.category-button-next img,
.category-button-prev img {
    width: 10px;
}
.desc_block{
    padding-bottom: 15px;
    border-bottom: 1px solid #727272;
}
.signin-input {
    padding: 40px;
}

.signin-group {
    padding: 20px;
}

.register-content {
    width: 62%;
}

.register-content {
    width: 50%;
    margin: auto;
}

.product {
    display: flex;
    gap: 50px;
    padding: 50px;
}

#catagory-name {
    color: #ABABAB;
}

.quantity-selector {
    padding-bottom: 5px;
}

.quantity-btn {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
}

#quantity {
    width: 60px;
    padding: 10px 0;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    background-color: #f3f3f3;
}

.quantity-btn:active {
    background-color: #ddd;
}

.add-to-cart-btn {
    background-color: #E4573D;
    border: 2px solid #E4573D;
    color: white;
    padding: 12px;
    border-radius: 30px;
}

.add-to-cart-btn:hover {
    color: #E4573D;
    background-color: white;
}

.stock-status {
    padding-top: 40px;
}

.product-title {
    padding-bottom: 20px;
    width: 100%;
}

.product-code {
    padding: 20px 0 0 0;
}

.discricption {
    display: flex;
}

.discricption-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.horizontal-line {
    border-bottom: 1px solid #1d1d1d4a;
    padding: 10px 0;
    margin-bottom: 10px;
}

.discricption-text {
    padding: 100px 20px 20px 50px;
    flex: 2;
}

.discricption-image img {
    object-fit: cover;
}

.discricption-para {
    line-height: 35px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-container {
    overflow: hidden;
}
.product_main_block {
    height: 65%;
    width: 100%;
}
.product_main_block .swiper-wrapper .swiper-slide img{
    border-radius: 10px;
    border: 1px solid #bbbbbb;
}
.product_img_slider {
    height: 15%;
    box-sizing: border-box;
    padding-bottom: 30px;
    position: relative;
}
.product_img_slider .swiper-slide {
    width: 25%;
    height: 100%;
}
.product_img_slider .swiper-wrapper .swiper-slide img{
    width: 75%;
    margin: auto;
    border-radius: 20px;
    border: 1px solid #bbbbbb;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product_img_slider .swiper-slide-thumb-active {
    opacity: 1;
}

.prd-slider-btn {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    border: 2px solid #000;
}

.prd-slider-btn::after {
    font-size: 16px !important;
    color: #000;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.prd-slider-btn {
    width: 35px !important;
    height: 35px !important;
    border-radius: 50%;
    border: 1px solid #000;
}
.prd-slider-btn::after{
    font-size: 16px !important;
    color: #000;
}
.product-details{
    width: 70%;
    margin: auto;
}
.prd-name{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.quantity_selector{
    width: 50px;
    background-color: transparent;
    border: 1px solid #e6e4e4;
    text-align: center;
    padding: 10px 5px;
    font-size: 18px;
    margin-top: 10px;
}
.text-trancate{
    white-space: nowrap; 
    width: 90%;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis; 
}
footer{
    padding: 40px 0 0;
    background-color: #efefef;
}
.footer_heading-block{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;    
}
.footer_heading-block::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #878484;
}
.footer_heading-block::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #878484;
}
.footer_heading-block li{
    width: 20%;
    padding: 10px 0;
    text-align: center;
    border-right: 1px solid #878484;
}
.footer_heading-block li:nth-last-child(1){
    border-right: none;
}
.ft-mail{
    text-transform: lowercase;
}
.footer_links{
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.w-60{
    width: 60%;
}
.w-40{
    width: 40%;
}
.footer_map{
    padding: 30px 40px 0;
    display: flex;
    align-items: center;
}
.footer_map iframe{
    height: 220px;
}
.footer_links .col-3{
    width: 33.33%;
    border-right: 1px solid #878484;
}
.footer_links .col-3 ul{
    padding-top: 20px;
}
.footer_links .col-3 ul li{
    padding: 10px 0;
}
.info-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-link svg{
    margin-bottom: 10px;
}
.reserved_text-block{
    display: flex;
    justify-content: space-between;
    padding: 60px 0 20px;
    border-bottom: 1px solid #878484;
}
.payment-img{
    width: 50px;
    height: 35px;
    background-color: #ffffff;
}
.payment-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.social_media_block{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social_icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.social_icon:hover svg{
    animation: slide 1s ease;
}
.insta-icon{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.facebook-icon{
    background-color: #3b5999;
}
.social_icon svg{
    width: 20px;
    height: 20px;
    fill: #fff;
}
@keyframes slide{
    0%{
      transform: translateX(0);
    }
    50%{
      transform: translateX(20px);
      opacity: 0;
    }
    51%{
      transform: translateX(-20px);
      opacity: 0;
    }
    100%{
      transform: translateX(0);
    }
  }


@media screen and (max-width: 1024px) {
    .logo {
        width: 100px;
    }

    .logo:nth-child(1) {
        padding-right: 10px;
    }

    .navbar {
        width: 70%;
    }

    .serach_input_block {
        width: 40%;
    }

    .cart_block {
        width: 40%;
    }

    .product_cart_section {
        height: 71% !important;
    }

    .cart_inner_btn {
        padding: 12px 0;
    }

    .cart_count {
        width: 16px;
        height: 16px;
        top: 4px;
        right: 20px;
    }

    .elips_img_block {
        width: 290px;
        height: 290px;
        box-shadow: 10px 6px 0 0 #dddbdb;
    }

    .read_more_btn {
        padding: 8px 30px;
    }

    .our_mission_content {
        width: 90%;
        padding-bottom: 10px;
    }

    .pr-category-main {
        grid-template-columns: 1fr 1fr;
    }

    .image_block ul li {
        padding: 6px 8px;
    }

    .other_content_block .section-heading {
        font-size: 24px;
        line-height: 30px;
    }

    .image_block {
        display: flex;
        align-items: center;
    }
    .content_para {
        line-height: 26px;
    }
    .product-details {
        width: 60%;
    }
    .register-content {
        width: 85%;
    }
    .footer_links .col-3 ul li {
        padding: 5px 0;
    }
    .footer_map {
        padding: 30px 30px 0;
    }
    .footer_map iframe {
        height: 180px;
    }
    .social_media_block{
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .mobile_menu {
        display: block;
        overflow-x: hidden;
    }

    .cart_block {
        width: 50%;
    }

    .nav_bars {
        display: block;
        padding-right: 10px;
    }

    .register_logo {
        display: none;
    }

    .navbar {
        width: 60%;
    }

    .navbar ul li:nth-child(2),
    .navbar ul li:nth-child(3) {
        border-right: 0;
        padding: 0;
    }

    .serach_input_block {
        width: 60%;
    }

    .header-fixed {
        display: none;
    }

    .cart_count {
        top: -4px;
        right: -4px;
    }

    .btn-reg-sign {
        display: none;
    }

    .banner-text {
        font-size: 20px;
        padding: 2px 8px;
    }

    .elips_img_block {
        width: 220px;
        height: 220px;
    }

    .elips_block .col-4 {
        display: flex;
        align-items: center;
    }

    .our_mission_content {
        width: 100%;
        padding-bottom: 4px;
    }

    .form-input {
        grid-template-columns: 1fr;
    }
    .form_main_block {
        width: 100%;
    }
    .checkout{
        margin-top: 25px;
    }

    .about-para {
        width: 70%;
    }

    .logo-img {
        object-fit: cover;
    }

    .product-price {
        font-size: 14px;
        line-height: 20px;
    }

    .product-name {
        font-size: 16px;
        line-height: 22px;
    }

    .product-block {
        padding: 10px 5px;
        gap: 6px;
    }

    .product-inner {
        grid-gap: 6px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .other_content_block .section-heading {
        font-size: 20px;
        line-height: 25px;
    }

    .blog_share_link {
        padding-bottom: 25px;
    }

    .read_more_btn {
        padding: 5px 25px;
    }
    .product_img_slider .swiper-wrapper .swiper-slide img {
        width: 100%;
    }
    .product-details {
        width: 70%;
    }
    .quantity_selector {
        width: 45px;
        padding: 14px 0px;
    }
    .desc-img{
        width: 80%;
        object-fit: cover;
        border-radius: 10px;
    }
    .section-heading {
        font-size: 24px;
        line-height: 30px;
    }

    .section-small-head {
        font-size: 18px;
        line-height: 22px;
    }

    .section-space1 {
        padding: 40px 0;
    }
    footer .w-60{
        width: 100%;
    }
    footer .w-40{
        width: 100%;
    }
    .footer_map {
        padding: 50px 0 0;
    }
    .footer_map iframe{
        height: 320px;
    }
    .footer_links .col-3:nth-last-child(1){
        border-right: 0;
    }
    .social_media_block {
        width: 75%;
    }
    .footer_links {
        padding-top: 50px;
    }

    .product-tabcontent .col-2 {
        width: 30%;
        padding: 0 5px;
    }

    .product-tabcontent .col-10 {
        width: 70%;
    }

    .product-tablinks {
        padding: 0 10px;
        font-size: 16px;
        line-height: 28px;
    }

    .section-head {
        gap: 8px;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }

    .collection-inner {
        grid-template-columns: 1.5fr 1fr;
        padding: 20px 0;
    }

    .cln-object-img {
        width: 100%;
    }

    .cln-heading {
        font-size: 22px;
        line-height: 30px;
    }

    .cln-btn-block {
        justify-self: unset;
    }

    .cln-object-block {
        grid-area: span 2 / span 1 / span 2 / span 1;
    }

    .banner-heading {
        font-size: 20px;
        line-height: 28px;
    }

    .sale-product {
        min-height: 220px;
    }

    .sale-block {
        width: 100%;
    }

    .section-head {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .about-section {
        background-attachment: unset;
    }

    .about-para {
        width: 100% !important;
    }
}

@media only screen and (max-width: 425px) {

    .slider-next-btn,
    .slider-prev-btn {
        width: 36px;
        height: 36px;
    }

    .slider-next-btn img,
    .slider-prev-btn img {
        width: 8px;
    }

    .cart_block {
        width: 90%;
    }

    .announcement_bar p {
        width: 80%;
        margin: auto;
    }

    .navbar {
        width: 60%;
    }

    .navbar ul {
        justify-content: end;
    }

    .navbar ul li:nth-child(3) {
        padding: 0 10px;
    }

    .cart_count {
        top: -4px;
        right: 5px;
    }

    .serach_input_block {
        width: 85%;
    }

    .mobile_menu {
        width: 90%;
    }

    .top_gst_btn {
        display: none !important;
    }

    .banner-inner {
        flex-wrap: wrap;
        gap: 20px;
    }

    .banner-block {
        width: 100%;
        margin-bottom: 16px;
    }

    .elips_block .col-4 {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .elips_block .col-8 {
        width: 100%;
        padding-top: 40px;
    }

    .elips_img_block {
        width: 350px;
        height: 350px;
    }

    .other_content_block {
        text-align: center;
    }

    .mission_vission_block .col-6 {
        width: 100%;
    }

    .mission_vission_block .col-6:nth-child(2) {
        padding-top: 50px;
    }

    .other_content_block ul {
        padding: 0;
    }

    .blog-block .col-4 {
        width: 100%;
        padding-bottom: 30px;
    }

    .blog-block .col-8 {
        width: 100%;
    }

    .other_content_block .section-heading {
        font-size: 22px;
        line-height: 34px;
    }

    .content_para {
        line-height: 30px;
        padding: 12px 0;
    }

    .read_more_btn {
        padding: 6px 30px;
    }
    .prd-main_block .col-6{
        width: 100%;
    }
    .product-details {
        width: 100%;
        padding-top: 50px;
    }
    .desc-main_block .col-4{
        width: 100%;
    }
    .desc-main_block .col-8{
        width: 100%;
    }
    .desc-img {
        width: 70%;
        object-fit: none;
        border-radius: 10px;
        margin-top: 20px;
    }
    .pr-category-main {
        grid-template-columns: 1fr;
    }
    .pr-banner {
        gap: 14px;
    }

    .pr-img-block {
        width: 80px;
        height: 80px;
    }

    .about-para {
        width: 100%;
    }

    .section-head {
        position: sticky;
        top: 0;
        background-color: #fff;
        padding: 10px 0;
    }

    .section-small-head {
        font-size: 16px;
        line-height: 20px;
    }

    .section-heading {
        font-size: 20px;
        line-height: 28px;
    }

    .hero_sub_heading {
        width: 75%;
        font-size: 20px;
        line-height: 28px;
    }

    .prd-slider-btn {
        width: 30px !important;
        height: 30px !important;
        border: 1px solid #000;
    }

    .prd-slider-btn::after {
        font-size: 14px !important;
    }

    .product-tablinks {
        font-size: 14px;
        line-height: 26px;
    }

    .product-tabcontent .col-2,
    .product-tabcontent .col-10 {
        width: 100%;
        margin: 10px 0;
    }

    .product-inner {
        grid-gap: 0px;
        grid-template-columns: 1fr 1fr;
    }

    .cln-heading {
        font-size: 18px;
        line-height: 26px;
    }

    .btn-secondary {
        font-size: 16px;
        line-height: 24px;
        padding: 6px 12px;
    }

    .form-container{
        padding: 50px 20px;
    }
    .signin-input {
        padding: 40px 10px;
    }
    .register-content {
        width: 100%;
    }
    .form-group{
        width: 100%;
    }
    .optionbox {
        padding: 35px 0;
    }
    .footer_links .col-3 ul {
        padding-top: 10px;
    }
    .footer_heading-block li {
        width: 30%;
        border: 1px solid #878484;
        margin: 10px 10px 0 0;
    }
    .footer_heading-block::before{
        border: none;
    }
    .footer_heading-block::after{
        border: none;
    }
    .footer_heading-block li:nth-last-child(1){
        border: 1px solid #878484;
    }
    .footer_links .col-3 {
        width: 50%;
        border-right: 0;
    }
    .footer_links .col-3:nth-last-child(1) {
        width: 75%;
        padding-top: 40px;
    }
    .footer_links .text-center {
        text-align: left;
    }
    .info-link {
        flex-direction: row;
        align-items: normal;
    }
    .info-link a{
        padding-left: 10px;
    }
    .lower_footer .col-6{
        width: 100%;
    }
    .reserved_text-block{
        display: block;
    }
    .reserved_text-block p:nth-child(1){
        padding-bottom: 20px;
    }
    .lower_footer .col-6:nth-child(1){
        display: none;
    }
    .lower_footer .justify-content-end{
        justify-content: normal;
    }
    .social_media_block {
        width: 100%;
        padding: 20px 0;
    }
}

@media screen and (max-width: 375px) {
    .cart_block {
        width: 95%;
    }

    .elips_img_block {
        width: 300px;
        height: 300px;
    }

    .px-1 {
        padding: 0 6px;
    }

    .pe-1 {
        padding-right: 6px;
    }

    .blog_content {
        padding: 0;
    }

    .navbar {
        width: 58%;
    }
    .footer_heading-block li {
        width: 47%;
        margin: 8px 8px 0 0;
    }
}

@media screen and (max-width: 320px) {
    .logo {
        width: 80px;
    }

    .cart_inner_btn {
        font-weight: 600;
    }

    .nav_bars {
        padding-right: 2px;
    }

    .elips_img_block {
        width: 250px;
        height: 250px;
    }

    .blog_share_link {
        padding-bottom: 10px;
    }

    .blog_share_link li {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }

    .blog_share_link li:nth-child(1),
    .blog_share_link li:nth-child(2) {
        border-right: 0;
    }

    .other_content_block .section-heading {
        font-size: 18px;
        line-height: 26px;
    }

    .content_para {
        line-height: 1.5;
    }
    .desc-img {
        width: 85%;
        object-fit: none;
        border-radius: 10px;
        margin-top: 20px;
    }
    .form-container {
        padding: 30px 10px;
    }
    .checkout {
        padding: 30px 20px;
    }
    .footer_map iframe {
        height: 250px;
    }
    .footer_links {
        padding-top: 20px;
    }
    .footer_links .col-3 {
        width: 100%;
        padding-top: 30px;
    }
    .footer_links .col-3:nth-last-child(1) {
        width: 100%;
        padding-top: 30px;
    }
    .footer_heading-block li {
        width: 47%;
        margin: 6px 6px 0 0;
    }
}

@media screen and (min-width: 1365px) {
    .product_cart_section {
        height: 80%;
    }

    .navbar ul li:nth-child(2),
    .navbar ul li:nth-child(3) {
        padding: 8px 45px 8px 0;
    }

    .cart_count {
        width: 20px;
        height: 20px;
        top: 0px;
        right: 36px;
        font-size: 14px;
    }
}