@font-face {
    font-family: "jost";
    src: url("../PlugIn/font/jost/Jost-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "jost";
    src: url("../PlugIn/font/jost/Jost-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "jost";
    src: url("../PlugIn/font/jost/Jost-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "jost";
    src: url("../PlugIn/font/jost/Jost-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    height: 100vh;
    box-sizing: border-box;
    font-family: "jost";
}

.container-fluid {
    width: 100%;
}
.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 10px;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.d-flex {
    display: flex;
}
.announcebar_remove-btn,
.product-tablinks {
    cursor: pointer;
}
.position-relative{
    position: relative;
}
.d-flex{
    display: flex;
}
.announcement_bar{
    background-color: #396393;
    color: #ffffff;
    padding: 12px 0;
    text-align: center;
    position: relative;
}
.announcebar_remove-btn{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
}
.announcebar_remove-btn,
.logo img{
    cursor: pointer;
}
.serach_input:focus{
    outline: none;
}
nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    justify-content: space-between;
}
.logo{
    width: 130px;
    padding-right: 20px;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.navbar{
    width: 70%;
    display: flex;
    align-items: center;
}
.navbar ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    display: flex;
    align-items: center;
}
.navbar ul li:nth-child(2), .navbar ul li:nth-child(3){
    border-right: 1px solid #8f8f8f;
    padding: 8px 20px 8px 0;
}
.serach_input_block{
    width: 50%;
    border: 1px solid #8f8f8f;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.serach_input_block svg{
    padding-top: 6px;
}
.serach_input{
    width: 100%;
    padding: 10px;
    border: none;
}
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 28px;
}
.switch input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #396393;
    border: 1px solid #396393;
    transition: .2s;
    border-radius: 30px;
    color: #ffffff;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: 50%;
    right: 2px;
    transform: translate(0, -50%);
    background-color: #ffffff;
    transition: .4s;
}
.slider::after{
    content: 'Inc.GST';
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}
input:checked + .slider:before {
    transform: translate(-54px, -50%);
}
input:checked + .slider::after{
    opacity: 0;
}
input:checked + .slider {
    background-color: #595959;
}
.cart_count{
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    right: 16px;
    background-color: #f69708;
    color: #ffffff;
    font-size: 12px;
    border-radius: 50%;
}
.btn-reg-sign{
    padding: 4px 12px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'jost';
    font-weight: 500;
    text-transform: capitalize;
}
.btn-reg{
    margin-right: 10px;
    background-color: #cfcfcf;
    color: #000000;
}
.btn-sign{
    background-color: #000000;
    color: #ffffff;
}
.header-fixed{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.header-fixed ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    border: 1px solid #d1d1d1;
}
.header-fixed ul li a{
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
}
.header-fixed ul li a:hover{
    color: #396393;
    text-decoration: underline;
}
.banner-section {
    padding: 65px 0;
}

.banner-inner {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.banner-block {
    position: relative;
}

.banner-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: auto;
    padding: 8px 16px;
    background-color: rgb(255 255 255 / 60%);
    font-size: 30px;
    font-weight: 500;
    color: rgb(17 17 17 / 80%);
    line-height: 43px;
    transform: translateX(-50%);
    width: max-content;
}

.banner-img {
    width: 100%;
    height: 100%;
}

.announcebar_remove-btn {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
}

nav {
    padding: 20px 0;
}

/* Category Section */

.category-section {
    padding: 40px 0 60px 0;
    background-color: #F3F3F3;
}

.section-small-head {
    font-size: 22px;
    font-weight: 400;
    line-height: 31px;
    color: rgb(0 0 0 / 50%);
    margin-bottom: 6px;
}

.section-heading {
    font-size: 32px;
    line-height: 46px;
    font-weight: 500;
    color: #000;
}

.category-head {
    margin-bottom: 44px;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.category-slider-btn {
    display: flex;
    align-items: center;
    gap: 28px;
}

.category-button-next,
.category-button-prev {
    background-color: #E9E9E9;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-slide {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 26px 12px 12px 12px;
    border-radius: 15px;
    border: 1px solid #cfcfcf;
}

.category-name {
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
}

.product-section {
    padding: 70px 0;
}

.section-head {
    padding-bottom: 22px;
    border-bottom: 2px solid #396393;
    margin-bottom: 60px;
}

/* Product Section */
.product-tablinks {
    border: 0;
    background-color: #0000;
    padding: 0 14px;
    font-size: 22px;
    font-weight: 400;
    line-height: 31px;
    color: rgb(0 0 0 / 50%);
}

.product-tab-content {
    margin-top: 60px;
}

.product-tabcontent {
    display: none;
}

.product-content-inner {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.product-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.product-block {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    text-decoration: none;
}

.product-name {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #000;
    margin-bottom: 4px;
}

.product-price {
    color: #FF344C;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
}

.product-img {
    width: 100%;
}

.product-description {
    margin-top: auto;
}

.product-img-block {
    margin: auto 0;
}

/* Hero Section */
.hero_section {
    position: relative;
    height: 450px;
}

.hero_section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_section-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000071;
}

.hero_section-wrapper-block {
    width: 100%;
    height: 100%;
    position: relative;
}

.header-fixed {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 10px 0;
}

.header-fixed ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.header-fixed ul li a {
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
}

.header-fixed ul li a:hover {
    color: #396393;
    text-decoration: underline;
}

.hero_content_slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_banner_heading {
    padding: 8px 0;
    width: 25%;
    text-align: center;
    margin: auto;
    text-transform: capitalize;
    background-color: #eacd76;
}

.hero_sub_heading {
    padding-top: 15px;
    font-size: 20px;
    color: #ffffff;
    width: 45%;
    text-align: center;
    margin: auto;
}

.hero_slider_btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: 'next';
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .banner-text {
        font-size: 20px;
        padding: 2px 8px;
    }
}

@media only screen and (max-width: 425px) {
    .banner-inner {
        flex-wrap: wrap;
        gap: 20px;
    }

    .banner-block {
        width: 100%;
    }
}